/* src/global.css */

/* h1,
h2,
h3 {
    font-weight: 400;  
    letter-spacing: 0.2em;
    color: #000;
    margin: 0;
} */


h2 {
    font-size: clamp(1rem, 1vw, 2rem);
}

h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

h3 {
    font-size: clamp(1rem, 3vw, 1rem);
}

h3 {
    font-size: clamp(0.8rem, 3vw, 0.7rem);
}



.outer,
.inner,
.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        width: 100%;
    }
    @media (min-width: 768px) {
        width: 85%;
    }

    box-sizing: border-box;
    /* Incluye el padding en el tamaño total del elemento */
}


.button-text {
    position: absolute; /* Permite colocar el texto sobre la imagen */
    top: 50%; /* Centra verticalmente el texto */
    left: 26%; /* Centra horizontalmente el texto */
    transform: translate(+20%, -70%); /* Ajusta la posición para centrar exactamente */
    color: #000; /* Cambia el color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold; /* Grosor del texto */
    text-shadow: 1px 1px 2px black; /* Añade sombra al texto para mayor legibilidad */
    pointer-events: none; /* Evita que el texto sea clicable, permitiendo que la imagen actúe como botón */
}
