/* src/global.css */

h1,
h2,
h3 {
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000;
    max-width: 1200px;
    margin: 0;
}

h1 {
    font-size: clamp(1rem, 2vw, 2rem); /* Ajusta los valores según sea necesario */
}

h2 {
    font-size: clamp(1.5rem, 4vw, 4rem); /* Ajusta los valores según sea necesario */
}

h3 {
    font-size: clamp(1rem, 3vw, 2rem); /* Ajusta los valores según sea necesario */
}
